
/*------------------------Main styles---------------------------*/

@font-face{
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa.ttf');
    }

html,body
{
    --main-color: #006955;  /*жесть какой зеленый*/
    --contrast-color: #E7EEE7; /*почти что белый*/
    --warm-color: #FEAE73; /*безумный жолтый*/
    --angry-color: #D64E52; /*огрэссивынй храсный*/
    width: 100%;
    height: calc(100vh - 10px);
}

html
{
    overflow-x: hidden;
}


#particles-js{
	top:0;
	right:0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: var(--main-color);
	background-size: cover;
	background-position: 50% 50%;
	z-index: -1;
    overflow-x: hidden;
    overflow-y: hidden;
}

.content_area
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_center
{
    background-color: var(--contrast-color);
    border-radius: 40px;
    width: 80%;
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.4);
}

.content_button_box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.menublock{
    border: 10px solid var(--main-color);
    border-radius: 30px;
    margin-bottom: 20px;
}

.textbut
{
  position: relative;
  z-index: 1;
  text-align: center;
  font-family: Comfortaa, sans-serif;
  font-size: 40px;
  color: var(--main-color);
  margin: 20px;
}

.textbut-a{
    text-decoration: none!important;
    color: var(--main-color);
}

.text_area_1
{
    font-family: Comfortaa, sans-serif;
    font-size: 50px;
    color: var(--main-color);
    text-align: center;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
}

.text_area_2
{
    font-family: Comfortaa, sans-serif;
    font-size: 50px;
    color: var(--main-color);
    text-align: center;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    top: -150px;
}

.text_area_3
{
    font-family: Comfortaa, sans-serif;
    font-size: 70px;
    color: var(--main-color);
    text-align: center;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    top: -20px;
}


.loader {
    border: 30px solid #f3f3f3;
    border-radius: 50%;
    border-top: 30px double var(--main-color);
    border-right: 30px solid  var(--main-color);
    border-bottom: 30px double var(--main-color);
    border-left: 30px solid  var(--main-color);
    width: 120px;
    height: 120px;
    margin-left: 37%;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  #marker
  {
    position: relative;
    z-index: 1;
    text-align: center;
    font-family: Comfortaa, sans-serif;
    font-size: 70px;
    top: -195px;
    color: var(--main-color);
  }

/*--------------------------------------------------------------*/

/*------------------------About pc styles---------------------------*/

.block_father
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.full_size_block
{
    margin-top: 50px;
    width: 80%;
    min-height: 200px;
    background-color: var(--contrast-color);
    border-radius: 40px;
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.4);
}

.text_area_pc_main
{
    font-family: Comfortaa, sans-serif;
    font-size: 70px;
    color: var(--main-color);
    text-align: center;
    position: relative;
}

.half_block_sub_father
{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.half_size_block
{
    margin-top: 50px;
    width: 47%;
    height: 500px;
    background-color: var(--contrast-color);
    border-radius: 40px;
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center; 
}

.half_size_block_area_right
{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content:  space-around;
    align-items: center; 
}

.half_size_block_area_left
{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: left;
    justify-content:  space-around;
    align-items: left; 
}

.text_area_pc_first_right
{
    font-family: Comfortaa, sans-serif;
    font-size: 30px;
    color: var(--main-color);
    text-align: center;
}

.image_area_pc_first_right
{
    border: 3px solid var(--main-color);
    width: 80%; 
    border-radius: 30px;
    margin-bottom: 40px;
}

.text_area_pc_first_left
{
    font-family: Comfortaa, sans-serif;
    font-size: 30px;
    color: var(--main-color);
    text-align: left;
    margin: 0px;
}


.menublock{
    border: 10px solid var(--main-color);
    border-radius: 30px;
}